/* Règles général (automatique */
/** Titres **/
p.supérieur {
	color: blue;
	font-size: 150%;
	font-family: "Courier New";
	text-align: center;
}
/** Image de fond **/
body {
	background: url( 'https://vignette.wikia.nocookie.net/dev/images/0/0e/Community-header-background/revision/latest/zoom-crop/width/471/height/115?cb=20190205204957' );
	background-attachment: fixed;
}
/** Cadres **/
.cadre {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	text-align: justify;
	align-content: center;
	border: 1px solid #66A7CC;
	border-radius: 40px 40px / 25px 25px;
	padding: 10px;
}
.cadre-du-haut {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	text-align: justify;
	align-content: center;
	border: 1px solid #66A7CC;
	border-radius: 15px 15px / 5px 5px;
	padding: 10px;
}
.cadre-du-bas {
	width: 800px;
	margin: 0 auto;
	background-color: white;
	text-align: center;
	align-content: center;
	border: 1px solid #66A7CC;
	border-radius: 15px 15px / 5px 5px;
	padding: 10px;
}
/** Pour le menu du haut. **/
/*** Liste horizontale. ***/
nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
	background-color: #333333;
}
nav li {
	display: inline-block;
	width: 100px;
	height: 40px;
	margin: 0px;
	padding: 0px;
	border-right: 1px solid #CCCCCC;
	text-align: center;
	line-height: 40px;
}
nav li:hover {
	background-color: #3388BB;
}
nav li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
}
/** Pour le menu du bas. **/
.liste-horizontale ul,
.liste-horizontale ol,
.liste-horizontale li {
	margin-left: 0;
	display: inline;
	white-space: nowrap;
}
.liste-horizontale li:after {
	content: " "; /* au cas ou Mediawiki supprime les retours ligne */
}
.liste-horizontale li + li:before {
	white-space: normal;
	content: "· ";
	font-weight: bold;
}
.liste-horizontale li li:first-child:before {
	white-space: normal;
	content: " (";
}
.liste-horizontale li ul:after,
.liste-horizontale li ol:after{
	content: ")";
	margin-left: -0.28em;
}
.liste-horizontale ol {
	counter-reset: listitem;
}
.liste-horizontale ol > li {
	counter-increment: listitem;
}
.liste-horizontale ol > li:first-child:before {
	content: "1.\202F";
}
.liste-horizontale li ol > li:first-child:before {
	content: " (1.\202F";
}
.liste-horizontale ol > li + li:before {
	content: "· " counter(listitem) ".\202F";
	font-weight: normal;
}
/* Balises */
/* Balises <a> */
a {
	color: #809FFF;
}
a:visited {
	color: #6680CC;
}
a:hover {
	color: green;
	text-decoration: underline;
}
/* Class spécifiques */
/* Bouton */
.mw-ui-button {
	background-color: #f8f9fa;
	color: #202122;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 4em;
	max-width: 28.75em;
	margin: 0;
	padding: 6px 12px;
	border: 1px solid #a2a9b1;
	border-radius: 0.25em;
	cursor: pointer;
	vertical-align: middle;
	font-family: inherit;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.28571429em;
	text-align: center;
	-webkit-appearance: none;
}
.mw-ui-button:hover {
	background-color: #ffffff;
	color: #404244;
	border-color: #a2a9b1
}
/* Citations */
q {
  quotes: "«\a0" "\a0»";
  font: inherit;
}
/* Textes */
p {
	font-size: 100%;
	font-family: "Comic Sans MS";
	text-indent: 15px;
}
/* Teableaux */
table {
  border-collapse: collapse;
  width: 400px;
}
th, td {
  border: 1px solid black;
  padding: 10px;
  vertical-align: top;
}